* {
  background-color: darkgrey;
}

header {
  font-size: 2em;
}

.storeInfoBlock {
  border: solid 3px darkgoldenrod;
  padding: 0.5em;
  display: table-cell;
  margin: 0 auto;
  overflow: wrap;
  text-overflow: wrap;
}

.storeStatusList {
  display: flex;
  padding: 1em;
}

#cookiesPerHourTable {
  border: 3px solid goldenrod;
  margin: auto;
  padding: .5em;
  display: table-cell;
}

#customersPerHourTable {
  border: 3px solid goldenrod;
  margin: auto;
  padding: .5em;
  display: table-cell;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}